main{
	position: relative;
}
.section{
	background: $CL;
	color: $BG;
	min-height: 102vh;
	will-change: transform;
	@include transition(transform 1s cubic-bezier(.25, 1, .25, 1));

	&.dark{
		background: $BG;
		color: $CL;
	}
}
