nav{
  position: absolute;
  top: 28px;
  left: 50%;
  z-index: 99;
  @include transform(translate( -50%, 0%));
  width: 100%;
  text-align: center;

  &.fixed{
    position: fixed;
    z-index: 999;
    top: 26px;
  }

  .logo-link{
    position: absolute;
    top: 0;
    left: -20px;

    svg{
      width: 90px;
      height: auto;
    }
    use{
      fill: $BG;
    }
  }

  a{
    position: relative;
    top: 1vh;
    margin: 0 1em;
    display: inline-block;
    font-size: em(18px);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    &:before{
      position: absolute;
      z-index: -2;
      left: -5%;
      top: 50%;
      height: 4px;
      width: 110%;
      content:"";
    }

    &.on{
      font-weight: 600;

      &:before{
        background-color: $TR;
      }

    }
  }

  &[data-color='light']{
    a{
      color: $BG;
    }
    .logo-link use{
        fill: $BG;
    }

  }

  &[data-color='dark']{
    a{
      color: $WT;
    }
    
    .logo-link use{
        fill: $WT;
    }
  }

}
