$steps:20;

.bars{
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  height: 60vh;
  width: 70vw;

  .bar{
    z-index: 2;
    position: fixed;
    display: block;
    background: #fff;
    opacity: random(100) / 100;

    &:before{
      position: absolute;
      content: "";
      z-index: 1;
      opacity: random(100) / 100;
      background: rgba(252, 252, 252, (random(100)/100));
    }

  }

  @for $i from 0 through $steps{
    $alpha: random(100)/100;

    .b#{$i}{
      left:unquote( (random(99) + 1) + '% ');
      top:unquote( (random(99) +1) + '% ');
      height: (random(4) + 1) + px;
      width: (random(20) + 2) + px;

      &:before{
        height:unquote( (random(189) + 10) + '% ');
        width:unquote( (random(150) + 10) + '% ');
        left:(random(3) + 1) + px;
        top:(random(1) + 1) + px;
        animation: noise-4 unquote( (random(12) + 10) + 's ')infinite step-end;
      }

    }
  }

  
}
