/*******************************************************************************
*
*  Core » Basic
*
*  Contains all main base styles and resets. It was
*  heavily based on Paul Irish's HTML5 Boilerplate.
*
*  http://html5boilerplate.com/
*
*******************************************************************************/

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @include box-sizing(border-box);
}
*, *:before, *:after {
  @include box-sizing(border-box);
}


/*********************************************************************
*  =Links
*********************************************************************/

a {
    @include colorful-links($BG);
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

/*********************************************************************
*  =Selection
*********************************************************************/

@mixin text_selection {
    background: $BG;
    color: $CL;
    text-shadow: none;
}

::-moz-selection {@include text_selection;}
::selection {@include text_selection;}

/*********************************************************************
*  =Media
*********************************************************************/

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

/*Correct overflow not hidden in IE9*/
svg:not(:root) {overflow: hidden;}

/*********************************************************************
*  =Navigation
*********************************************************************/

nav ul,
nav ol {
    margin: 0;
}
