/*******************************************************************************
*
*  Core » Typography
*
*  Contains all typographical elements styles. It was
*  heavily based on Paul Irish's HTML5 Boilerplate.
*
*  http://html5boilerplate.com/
*
*******************************************************************************/

// @include font-face('Allright-light', 'AlrightSans-Light_gdi', 'allright','normal', 300);

body {
    font: normal normal normal #{percentage($PROJECT_FONT_SIZE/16px)}/#{($PROJECT_BASELINE/$PROJECT_FONT_SIZE)} 'Source Code Pro', sans-serif;
    @include font-smoothing(antialiased);
    background: $CL;

}
blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

abbr { text-transform: lowercase; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol, dl { margin-bottom: 1.5em; }

p { margin-bottom: 1.5em; }

/*********************************************************************
*  =Headers
*********************************************************************/

h1 {
  font-size: em(58px);
  font-weight: normal;
  line-height: em(63px);
  margin-bottom: em(32px);
}

h2 {
  font-size: em(34px);
  font-weight: normal;
  line-height: em(34px, 34px);
  margin-bottom: em(26px, 34px);
  padding-top: em(16px, 34px);
}

h3 {
  font-size: em(22px);
  line-height: em(26px, 22px);
  margin-bottom: em(26px, 22px);
  padding-top: em(8px, 22px);
  font-weight: normal;
}

h4 {
  font-size: 1em;
  line-height: em(26px);
  margin-bottom: em(26px);
  font-weight: normal;
}



h1, h2, h3, h4, h5, h6{
   font-family: 'Poppins', sans-serif;
}
