<%- include header %>
  <body class="portfolio">

  <header role="navigation">
        <%- include menu %>
  </header>
  <main role="main">


    <article>
      <h1 role="heading">Babies <strong>Buh!</strong></h1>

      <div style="overflow:hidden; background: #81A0D8">
        <img src="assets/images/portfolio/babies-buh/Header.png" class="centralize m-t" />
      </div>

      <div style="overflow:hidden; background: #2EB6B2">
        <img src="assets/images/portfolio/babies-buh/Posts.png" class="centralize m-t" />
      </div>

      <div style="overflow:hidden; background: #F06E68">
        <img src="assets/images/portfolio/babies-buh/Seguranca.png" class="centralize m-t" />
      </div>

      <div style="overflow:hidden; background: #6062D1">
        <img src="assets/images/portfolio/babies-buh/Medidas.png" class="centralize m-t" />
      </div>

    </article>

    <h3 class="label" role="definition">ux design</h3>

  </main>

<%- include footer %>
