<%- include header %>
  <body class="portfolio">

  <header role="navigation">
        <%- include menu %>
  </header>
  <main role="main">


    <article>
      <h1 role="heading">Casa <strong>Decorativa</strong></h1>

      <div style="background: #112030; padding-bottom: 4em">
        <img src="assets/images/portfolio/casa-decorativa/casa-decorativa.png" class="centralize logo-case" />
        <img src="assets/images/portfolio/casa-decorativa/papelaria-casa-decorativa.png" class="centralize m-b" />
        <br />
      </div>
    </article>

    <h3 class="label" role="definition">branding</h3>

  </main>

<%- include footer %>
