<%- include header %>
  <body class="portfolio">

  <header role="navigation">
        <%- include menu %>
  </header>
  <main role="main">

    <article>
      <h1 role="heading"> <strong>Danúbio</strong></h1>

      <div style="overflow:hidden; background: #112030" class="f-m-h">
        <img src="assets/images/portfolio/danubio/logo.png" class="f-c" />
      </div>

      <div style="overflow:hidden;"  class="f-m-h">
        <img src="assets/images/portfolio/danubio/logo-horizontal.png" class="f-c" />
      </div>

      <div style="overflow:hidden; background: #112030" class="f-m-h">
        <img src="assets/images/portfolio/danubio/type.png" class="f-c" />
      </div>

      <div style="overflow:hidden;" class="f-m-h">
        <img src="assets/images/portfolio/danubio/colors.png" class="f-c" />
      </div>

    </article>

    <h3 class="label" role="definition">branding</h3>

  </main>

<%- include footer %>
