<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 loading"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 loading"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 loading"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 loading"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js loading"> <!--<![endif]-->
    <head>
    <meta charset="utf-8" />

    <title>
        mnstrs
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      header{
        overflow: hidden;
      }

      .header .logo{
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      .header{
        min-height: 100vh;
      }

      .dark{
        background: #112030;
        color: #EBF3FF;
      }

    </style>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,700|Source+Code+Pro:300,700" rel="stylesheet" />
    <link href="public/style.css" rel="stylesheet" />

    </head>

    <svg class="hidden">
      <g id="logo">
        <path d="M128.2 39.3C125.9 40.9 122.3 40.9 120.1 39.3L69.1 2.5C64.6-0.7 61 1.1 61 6.6L61 106.9C61 112.5 64.3 113.9 68.4 110.2L86.4 93.8C88.4 91.9 91.9 91.7 94.1 93.3L120.1 112.1C122.3 113.8 125.9 113.8 128.2 112.1L154.7 92.8C156.9 91.1 160.4 91.4 162.4 93.3L180.3 110.1C184.3 113.9 187.6 112.5 187.6 106.9L187.6 6.6C187.6 1.1 184-0.7 179.5 2.5L128.2 39.3Z"/>
      </g>
      <g id="lettering">
        <path d="M42 137.2C40.3 138.6 39 140.1 38 141.6 35.4 137.2 30.5 133.9 22 133.9 15.7 133.9 11.7 138.1 11.7 138.1L11.7 134.4 0 134.4 0 172.5 11.8 172.5C11.8 172.5 11.7 158.5 11.8 153.8 11.8 148.9 15.6 145 20.6 145 27.4 145 29.5 148.1 29.5 154L29.5 172.5 41.1 172.5 41.1 153.8C41.1 148.9 44.9 145 49.9 145 56.7 145 58.8 148.1 58.8 154L58.8 172.5 70.4 172.5 70.4 154C70.4 146.1 67.7 136.1 55.6 134.2 50.5 133.5 45.7 134.2 42 137.2ZM86.5 138.1L86.5 134.4 74.9 134.4 74.9 172.5 86.7 172.5 86.7 153.8C86.7 148.9 90.5 145 95.4 145 102.3 145 104.4 148.1 104.4 154L104.4 172.5 116 172.5 116 154C116 145.3 112.6 133.9 96.8 133.9 90.5 133.9 86.6 138.1 86.5 138.1ZM154.3 158C154.1 157 153.7 156.1 153.2 155.2 152.2 153.7 151 152.4 149.2 151.4 146 149.6 142 149 138.5 148.4 134.5 147.9 131.4 147.4 131.4 145.4 131.4 142.5 134.7 141.9 137.1 141.9 139 141.9 143.6 142.6 143.6 145.1L153.5 145.1C153.5 143.2 153.1 140 149.3 137.3 146.3 135.1 142.1 133.9 137 133.9 127.9 133.9 120.5 139.5 120.5 146.3 120.5 149.6 122.4 152.3 125.1 153.8 127.9 155.6 131.3 156.4 134.5 156.7 137.7 157.1 143.9 158 143.9 161.6 143.9 164.4 139.6 165.5 137.4 165.5 134.2 165.5 130.8 163.8 130.8 160.4L119.9 160.4C119.9 163 120.5 165.7 124.2 169.3 125.7 170.8 127.6 171.8 129.7 172.5 132.1 173.4 134.7 173.8 137.4 173.8 139.8 173.8 142 173.5 144.1 172.8 146.1 172.2 148 171.4 149.6 170.2 151.2 169.1 152.5 167.8 153.4 166.4 154.3 164.8 154.8 163.2 154.8 161.6 154.8 160.3 154.6 159.1 154.3 158ZM185.1 142.9L185.1 134.4 174.7 134.4 174.7 130 162.6 130 162.6 134.4 156.9 134.4 156.9 142.9 162.6 142.9C162.6 150 162.6 155.4 162.6 159.5 162.6 168.4 167.5 175.6 181.9 173.2L181.9 163.1C177.7 163 174.7 163.1 174.7 155.8 174.7 152.3 174.7 148.6 174.7 142.9L185.1 142.9ZM200.8 139.4L200.8 134.2 189.3 134.2 189.3 172.3 200.8 172.3 200.8 155C200.8 147.8 205.6 143.7 211.1 143.7 211.9 143.7 212.7 143.7 213.5 143.9L213.5 134.4C212.4 134.1 211.1 133.9 209.9 133.9 203.4 133.9 201.3 138.1 200.8 139.4ZM249 158C248.7 157 248.3 156.1 247.9 155.2 246.9 153.7 245.6 152.4 243.8 151.4 240.6 149.6 236.6 149 233.1 148.4 229.2 147.9 226 147.4 226 145.4 226 142.5 229.4 141.9 231.7 141.9 233.6 141.9 238.2 142.6 238.2 145.1L248.1 145.1C248.1 143.2 247.8 140 244 137.3 240.9 135.1 236.7 133.9 231.6 133.9 222.6 133.9 215.2 139.5 215.2 146.3 215.2 149.6 217.1 152.3 219.7 153.8 222.6 155.6 225.9 156.4 229.1 156.7 232.4 157.1 238.5 158 238.5 161.6 238.5 164.4 234.2 165.5 232.1 165.5 228.8 165.5 225.4 163.8 225.4 160.4L214.5 160.4C214.5 163 215.2 165.7 218.8 169.3 220.3 170.8 222.3 171.8 224.4 172.5 226.7 173.4 229.3 173.8 232.1 173.8 234.4 173.8 236.6 173.5 238.7 172.8 240.7 172.2 242.6 171.4 244.2 170.2 245.8 169.1 247.1 167.8 248 166.4 248.9 164.8 249.4 163.2 249.4 161.6 249.4 160.3 249.3 159.1 249 158Z"/>
      </g>
    </svg>
