<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 loading"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 loading"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 loading"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 loading"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js loading"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">

    <title>
      Teste
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,700|Fira+Mono:400,700" rel="stylesheet"> -->

    </head>

    <body id="home">
    </body>
    <script src="https://www.gstatic.com/firebasejs/3.0.4/firebase.js"></script>

    <script>

      var config = {
        apiKey: "AIzaSyAQB-SlAb9hmGTz9j1agLWogQkrbz-OvYw",
        authDomain: "fuerza-lab.firebaseapp.com",
        databaseURL: "https://fuerza-lab.firebaseio.com",
        storageBucket: "fuerza-lab.appspot.com"
      }

      firebase.initializeApp(config)

      // Get a reference to the database service
      var database = firebase.database()

      var users = database.ref('users').child('51983028087')
      const home = document.querySelector('#home')


      users.on('value', (snapshot) => {
        home.innerText = JSON.stringify(snapshot.val(), null, 3)

        console.log(snapshot.val())
      })

    </script>
</html>
