<nav id="menu" data-color="light">
  <a href="/" class="logo-link">
    <svg width="250" height="114" viewBox="0 0 250 114">
        <use xlink:href="#logo"/>
    </svg>
  </a>

  <a href="#portfolio" class="portfolio on">portfólio</a>
  <a href="#sobre" class="sobre">sobre</a>
  <a href="#contato" class="contato">contato</a>
</nav>
