
.header{
  position: fixed;
  top: 2vh;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  max-height: 90px;
  padding: 2vw;
  width: 96vw;
  max-width: 1020px;
  background-color: $c1;
  border-radius: 3px;
  color: #fff;

  &:before{
    position: absolute;
    left: 5%;
    z-index: -10;
    content: '';
    bottom: 0;
    width: 90%;
    height: 5vh;
    background-color: $c1;
    border-radius: 10px;
    filter: blur(15px);
  }

}
