section{
  margin-top: 110px;
}
.maintenance{
  margin: 0 1vw;
  padding: 20px 2vw;
  width: 98vw;
  background-color: #fff;
  border-bottom: 1px solid lighten($c1,25%);

  &:first-child{
    border-radius: 3px 3px 0 0;
  }

  &:last-child{
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
  }

}
