section{
  margin-top: 120px;
}

main{
  max-width: 1020px;
  margin: 0 auto;
}

.maintenance{
  position: relative;
  margin: 0 auto;
  padding:15px 2vw 17px;
  width: 96vw;
  max-width: 100%;
  background-color: #fff;
  border-bottom: 1px solid lighten($c1,25%);

  &:first-child{
    border-radius: 3px 3px 0 0;
  }

  &:last-child{
    border-bottom: 0;
    border-radius: 0 0 3px 3px;
  }

  .house{
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    opacity: 0.5;
  }

  > div{
    display: inline-block;
    vertical-align: middle;

    h2, h3{
      display: inline-block;
    }
  }

  .appresentation{
    margin-right: 30px;
    max-width: 300px;
    width: 20%;

    h2{
      font-size: 18px;
    }

  }

  .content{
    width: 70%;
  }

  .appresentation,
  .content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    h2, h3{
      white-space: nowrap;
    }
  }

}
