.search{
  position: relative;
  display: table;
  width: 50%;
  margin: 0 auto;
  color: #fff;
  font-size: em(16px);

  input{
    width: 100%;
    padding: .9em 1.2em;
    color: #fff;
    font-size: em(16px);
    border-radius: 40px;
    border: 0;
    background-color: darken($c1, 10%);
    outline: none;
  }

  button{
    position: absolute;
    right: 10px;
    top: 50%;
  }


}
