.label{
  position: fixed;
  top: 50%;
  left: $grid-unit * 5;
  @include transform(rotate(-90deg) translateY(-60%));
  @include transform-origin(left);
  padding: 0;
  color: $WT;
  font-weight: bold;

  &:before{
    position: absolute;
    z-index: -2;
    left: -5%;
    top: 50%;
    margin-top: -1px;
    height: 4px;
    width: 110%;
    content:"";
    background-color: $TR;
  }
}

.portfolio{

  h1{
    position: relative;
    margin:2em 0 0 1em;
    font-family:'Fira Mono', monospace;
    font-size: em(31px);

    strong{
      font-weight: bold;
    }
  }

  article{
    position: relative;
    margin: 20vh 0 0;
    min-height: 70vh;
    font-size: 15px;

  }

  .logo-case{
    padding: 15vh 0 ;
  }


  .f-h{
    position: relative;
    min-height: 100vh;
  }

  .f-m-h{
    position: relative;
    min-height: 50vh;
  }

  .f-c{
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
  }

  .centralize{
    display: table;
    margin: 0 auto;
  }

  .p{
    padding: 5em;
  }

  .m-b{
    margin-bottom: 2em;
  }
  .m-r{
    margin-right: 2em;
  }
  .m-l{
    margin-left: 2em;
  }
  .m-t{
    margin-top: 2em;
  }

  .m{
    margin: 2em;
  }
}
